<div class="attachment" id="<%= dom_id attachment %>">
  <%= image_tag attachment.file.url, width: 500 %>
  <%#= attachment.file.identifier %>

  <p>
    <%= link_to "Show this attachment", attachment %>
    <%#= button_to "Destroy this attachment", attachment, method: :delete, data: { turbo_confirm: "Вы уверены, что хотите удалить вложение?" } %>
  </p>
</div>
