<div class="attachment" id="<%= dom_id attachment %>">
  <p>
    <strong>File:</strong>
    <%#= attachment.file %>
    <%= attachment.file.identifier %>
  </p>

  <p>
    <%= link_to "Show this attachment", attachment %>
  </p>
</div>
