<div class="attachment" id="<%= dom_id attachment %>">
  <%= image_tag attachment.file.url, width: 500 %>
  <%#= attachment.file.identifier %>

  <p>
    <%= link_to "Show this attachment", attachment %>
  </p>
</div>
