<p style="color: green"><%= notice %></p>

<h1>Attachments</h1>
<%= turbo_stream_from "attachments" %>

<div id="attachments">
  <% @attachments.each do |attachment| %>
    <%= render attachment %>
  <% end %>
</div>

<%= render "attachments/new_attachment_button" %>
