<div class="O_SearchPreview" id="search_preview" data-search-target="searchPreview">
  <% if defined? items %>
    <% items.each do |item| %>
      <%= render item.searchable %>
      <br><br>
    <% end %>
  <% end %>
</div>