<div class="galleryImages" id="galleryImages">
  <% if gallery.gallery_images.any? %>
    <div class="galleryImagesRail" id="galleryImagesRail" data-gallery-target="galleryImagesRail">
      <%= render gallery.gallery_images %>
    </div>
  <% else %>
    <div class="empty">
      Пока нет картинок
    </div>
  <% end %>
</div>