<h1>Editing gallery image</h1>

<%= render "form", gallery_image: @gallery_image %>

<br>

<div>
  <%= link_to "Show this gallery image", @gallery_image %> |
  <%= link_to "Back to gallery images", gallery_images_path %>
</div>
