<p style="color: green"><%= notice %></p>

<h1>Gallery images</h1>

<div id="gallery_images">
  <% @gallery_images.each do |gallery_image| %>
    <%= render gallery_image %>
    <p>
      <%= link_to "Show this gallery image", gallery_image %>
    </p>
  <% end %>
</div>

<%= link_to "New gallery image", new_gallery_image_path %>
