* {
  box-sizing: border-box;
}

body {
  // font-family: ADC;
}

h1 {
  font-family: Helvetica;
}

.pinCard {
  display: block;
  width: 500px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 16px;
  margin: 20px;
  text-decoration: none;
  color: black;
}

.menubar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.contentArea {
  width: 700px;
  margin: 0 auto;
}

.comment {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid black;
}

#comment_body,
#poly_comment_body {
  width: 100%;
  height: 140px;
}

.commentReplies {
  padding-left: 40px;

  & > div {
    padding: 20px;
  }
}
