<% if current_user %>
  <%= turbo_stream_from "notifications" %>

  <div class="notifications" id="notifications">
    <% current_user.notifications.each do |notification| %>
      <div class="notification">
        <%= notification.body %>
      </div>
    <% end %>
  </div>

  <%= current_user.notifications.count %>

<% end %>
